html{ 
    background: url(../images/site/background.jpg) no-repeat center fixed;
    background-size: cover;
    box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Avenir', sans-serif;
    text-align:center;
    margin:0 auto;
  /* Declare the base font-family - from google font api or other */
    }
    /*------notificaciones-----------*/
    .notice{
        color: white; 
        background-color: red;
    }
/* --------COLOR BACKGROUND WHITE --------*/ 

.header, .main, .footer{
    background-color: #ffff;
    margin: 0;

}

    #containerall{
    margin: 0 auto;
    text-align:left;
    width:95%;
    }
/*--------------Table here --------------*/
table {
    width:70%;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  th{
    background-color: #141314;
    color: white;
  }
  tr:nth-child(even) {
    background-color: #adaaaf;
  }
/* --------NAV HERE --------*/ 
.menu{
    list-style: none;
    margin:0 ;
    padding: 0;
    background: #de2226;
    
}
.menu ul {
	list-style: none;
    margin: 0;
    padding:0 ;
}
.menu ul li{
	display: inline-block;
}

.menu ul li a {
	color: #ffff;
    text-decoration: none;
    display: block;
    padding: 15px 60px;
    }
.menu ul li.active a{
    background-color: #ffff;
    color:#de2226;
}
.menu ul li a:hover{
    background-color: #ffff;
    color:#de2226;
}
/* ------------------Class items HEADER------------- */
.containerA{
    display: flex;
    height: 105px;
    padding:10px;
    flex-direction: row;
    justify-content: space-between;
 }
 
 
#file{
    max-width: 80px;
    height: 50px;
    flex-wrap: wrap;  
    object-fit: contain;
  }

  #myAccount{
      padding-left: 1%;
      padding-top: 25px;
  }

/* --------Class items MAIN  here--------*/ 

.coyote{
    width: 100%;
    background-image: url("../images/site/rocketfeature.jpg");
    background-size: cover;
    display: flex;
    justify-content: flex-end;
   }


.infoImg{
   background-color: rgba(255,255,255,.5);
   font-size: 24px;
   text-align: right;
   padding: 10px 10px 10px 0;
	}
#actionbtn {
    width: 250px;
}
.acmerockets{
    padding: 10px;
}

/* ------------------Table list------------- */
.containerR{
    display: flex;
    width: 100%;
    flex-wrap: wrap-reverse;
    font-size: 20px;
}
.recipes td{
    background-color: #808080;
    border: 3px solid #ffff;
    }
.BBCimg{
    background-color: #808080;
}
.recipes{
    padding: 5px;
    padding-top: 1px;
    align-content: center;
    text-align: center;
    }
/* --------function.php: function buildProductsDisplay------------- */
    #prod-display{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
       }
       
       #prod-display li{
        margin-bottom: .5em;
        border: 1px #ccc solid;
        list-style-type: none;
        flex: 1 1 auto;
       }
                       
       #prod-display li img{
        width: 100%;
        height: 200px;
        object-fit: contain;
       }

    .product-display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    }
 /* --------functions.php: function buildProductInfoDisplay-------- */

    .image-display img{
        width: auto;
        height: 200px;
        object-fit: contain;
    }

    /* --------functions.php: function buildImageDisplay------------- */
    #image-display{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
     }

     #image-display li{
        margin-bottom: .5em;
        border: 1px #ccc solid;
        list-style-type: none;
        flex: 1 1 auto;
       }
                       
       #image-display li img{
        width: 100%;
        height: 200px;
        object-fit: contain;
       }
/* ------------------Reviews-detail------------- */
#reviewDisplay{
    position: absolute;
    border: solid 1px #111;
    width:80%;
    display: block;
    bottom:100px;
    margin-right:auto;
    margin-left:auto;
    }


#reviewDisplay{
    position: relative;
    border: solid 1px #111;
    display: block;
    bottom:10px;
    margin-top: 15px;
    margin-left:7vw;
}

#reviewForm{
    border: solid 1px #111;
    background:#de2226;
    margin-top: 5px;
}

#reviewDetail{
    border: solid #aaa 1px;
}

#reviewForm{
    border:solid 1px #344;
    padding: 10px;
    margin:25px;
    font-Family: sans-serif;
}

#reviewForm input{
    color:white;
    background: transparent;
    display: block;
    border: none;
}

.reviewLabel{
    margin-left: 10px;
    display: inline;
    color:white;
    font-weight: bold;

}

.reviewInput{
    border:solid 1px #aaa;
    background: transparent;
    margin-left: 50%;
    display: inline;
    font-weight: bold;
}

.reviewLinksContainer{
    text-align: center;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.reviewLinksContainer li a{
    color: rgb(200, 65, 65);
    display:block;
    padding:2px;
    height: 150%;
}

.reviewLinks li{
    display: block;
    margin: 25px;
    background: #fafafa;
    padding:1px;
    }

.reviewText{
    background: transparent;
    resize: none;
    border: solid 1px #eee;
    width: 33vw;
    height: 50px;
    background-color: rgba(155, 155, 155, 80);
    color: #fff;
    padding:20px;
    border-radius: 10px;
    margin-left: 15px;
}

#editReviewText{
    background: transparent;
    border: solid 1px #eee;
    width: 400px;
    height:50px;
    background-color: rgba(155, 155, 155, 80);
    color: #fff;
    font-Family: sans-serif;
    padding:15px;
    
}

#deleteReviewText{
    background: transparent;
    border: solid 1px #eee;
    width: 400px;
    height:100px;
    background-color: rgba(155, 155, 155, 80);
    color: #fff;
    font-Family: sans-serif;
    padding:15px;
}

#reviewEditForm{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

#addReviewForm{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

#reviewDeleteForm{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  
    }

    #addReviewText{
        background: transparent;
        border: solid 1px #eee;
        width: 400px;
        height:50px;
        background-color: rgba(155, 155, 155, 80);
        color: #fff;
        font-Family: sans-serif;
        padding:15px;
    }

    #addReviewText::placeholder{
        color: #eee;
    }

    #clientReviewsList{
        background:#de2226;
       margin:33px;
       padding: 10px;
    }

    #clientReviewsList li{
        display: block;
        margin:10px;
        
    }

    #addReviewLink{
        border: solid 1px #333;
        background: #eee;
        padding: 10px;
        border-radius: 7px;
        width:50vw;
        margin-right:auto;
        margin-left: auto;
        margin-top:25px;
        text-align: center;
    }

    #addReviewLink a{
        display: block;
        height:100%;
        
    }

    #reviewSpacer{
        border-bottom: solid 2px #333;
    }

/* ------------------Footer here------------- */
.footer{
    margin-top:-1.2%;
}

.footer p{
	text-align: center;
	line-height: 220%;
    background-color: #ffff;
    width:95%;

}