@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    html{
    background: url(../images/site/background.jpg) no-repeat center fixed;
    background-size: cover;  
    }
    /*-------HEADER HERE----------*/
    
    /* ---------NAV HERE -------- */
    
/*----------- MAIN -----------*/

#prod-display{
  flex-flow: row wrap;
  justify-content: flex-start;
 }
 
 #prod-display li{
  max-width: 200px;
  flex: 1 0 auto;
  text-align: center;
  max-height: 400px;
 }

/* ---------FOOTER HERE -------- */