@media only screen and (min-width: 35em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
  
    /* hamburger button does not need to be shown */
 html{
    background: url(../images/site/background.jpg) no-repeat center fixed;
    background-size: cover;  
    }    
    /*--------------HEADER HERE--------*/
    
/* ---------NAV HERE --------/*
    
   

    /*-------------Images--------- */
    #prod-display{
    flex-wrap:wrap;
    }
    
    
/* ---------FOTTER HERE -------- */